* {
 margin: 0;
 padding: 0;
 outline: none;
}
h1 {
 display: flex;
 justify-content: center;
 font-family: sans-serif;
 margin-top: 15px;
 font-style: italic;
 color: #ffffff;
}

.resultat {
 font-family: sans-serif;
 font-size: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: calc(50% - 139px);
 left: calc(50% - 137px);
 color: #ffffff;
}

button {
 width: 112px;
 height: 112px;
 background-color: blue;
 color: transparent;
 font-size: 20px;
}

.btn {
 display: flex;
 justify-content: space-around;
 bottom: 10px;
 position: absolute;
 width: 100%;
}

.pierre {
 background-image: url(./img/pierre.jpg);
}

.feuille {
 background-image: url(./img/feuille.jpg);
}

.ciseaux {
 background-image: url(./img/ciseaux.jpg);
}

body {
 background-color: #000;
}


